################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotStarHeaded/obj/ARM/Debug
/DotStarHeadless/obj/ARM/Debug
/DotStarHeaded/bin/ARM/Debug
/DotStarHeadless/bin/ARM/Debug
bin
obj
obj
obj
